body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(20, 123, 220)
}
form {
    margin-bottom: 20px;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form div {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}